.header {
  background: rgb(135, 124, 70);
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.header input {
  height: 25px;
  width: 700px;
}

.card{
  box-shadow: 2px 2px 2px 2px gray;
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 250px;
}

.card div {
  margin-top: 5px;
}

.card-block{
  display: flex;
  flex-wrap: wrap;
  

}

.navbar {
  box-shadow: 2px 2px 2px 2px gray;
  width: 200px;
  position: absolute;
  background: rgb(135, 124, 70);
  height: 100%;
  opacity: 0.9;
  padding: 10px;
}

.navbar div {
  padding: 15px;
  color: #fff;
}

.navbar div:hover, .active {
  background: #413c22;
}
